@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import "tailwindcss";

@theme {
    /* Fontes */
    --font-days: "Days One", sans-serif;
    --font-grotesque: "Bricolage Grotesque", sans-serif;

    /* Cores */
    --color-laranja-marte: #ED5A0F;
    --color-bege-alaranjado: #EDDBD1;
    --color-azul-espaco-100: #05111E;
    --color-azul-espaco-200: #1E1F2C;

    --breakpoint-mob: 867px;
}

p {
    font-family: var(--font-grotesque);
    color: var(--color-bege-alaranjado);
}

h1 {
    font-family: var(--font-days);
    color: var(--color-bege-alaranjado);
}